<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./public/css/styles.css">
</head>
<body>
	<h1>From a handlebar file</h1>
	<img src="./public/images/cat.jpg"></img>

	<script src="./public/js/app.js"></script>
</body>
</html>

